---
import Layout from "../layout/Layout.astro";
import ThesisHeader from "../components/ThesisHeader";
import ThesisSection from "../components/ThesisSection";

import { contentfulClient } from "../lib/contentful";
import type { EntryFieldTypes, Asset } from "contentful";
import type { Document } from "@contentful/rich-text-types";

import { Image } from "astro:assets";
import Circle from "../assets/circle.png";
import balloonData from "../assets/lotties/balloon.json";
import robotData from "../assets/lotties/robot.json";
import satData from "../assets/lotties/sat.json";

export interface ThesisContent {
  contentTypeId: "thesis";
  fields: {
    title: EntryFieldTypes.Text;
    description: Document;
    rank: EntryFieldTypes.Number;
  };
}

export interface ThesisHeaderContent {
  contentTypeId: "thesisHeader";
  fields: {
    content: EntryFieldTypes.Text;
  };
}

const lotties = [robotData, balloonData, satData];

const entries = await contentfulClient.getEntries<ThesisContent>({
  content_type: "thesis",
  order: ["fields.rank"],
});

const header = await contentfulClient.getEntries<ThesisHeaderContent>({
  content_type: "thesisHeader",
});
---

<Layout>
  <div class="flex flex-col items-center h-full">
    <Image src={Circle} alt="circle" class="-z-10 absolute top-0" />
    <!-- <span class="text-turq font-semibold desktop:hidden">THESIS</span> -->

    <ThesisHeader content={header.items[0]} client:only="react" />
    {
      entries.items.map((entry: any, idx: number) => (
        <ThesisSection
          title={entry.fields.title}
          content={entry.fields.description}
          lottie={lotties[idx]}
          client:only="react"
        />
      ))
    }
  </div>
</Layout>
